@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Josefin Sans', sans-serif;
}







/* .main {
  padding: 20px;
} */

.text {
  font-size: 1.9em;
}

.landing {
  margin: 0px 0 50px 0;
}
.landing .text {
  font-size: 1.5em;
}

.heading {
  font-family: 'Pacifico', cursive;
}


.about {
  margin: 100px 0 0 0;
}
.testimonials {
  margin: 100px 0 100px 0;
}



.order-btn:hover .order-btn-icon {
  transform: translateX(20px);
}

.order .text,.order label {
  font-size: 1.2em;
  transition: 0.5s ease;
}





.order .cart {
  border-radius: 16px;;
}


.dashboard .order {
  /* background: var(--background-secondary); */
  border-radius: 16px;
  transition: 0.3s ease;
  transition-property: background;
  margin: 10px;
}

.heading-secondary {
  font-size: 1.2em;
}

.pick-btn .icon, .complete-btn .icon {
  font-size: 1.5em;
  transition: 0.3s ease;
}

.star-rating .on {
  color: #FF96AD;
  transition: 0.3s ease;
}

.star-rating .off {
  color: var(--text-primary);
  transition: 0.3s ease;
}

.swiper {
  max-width: 100vw;

}

@media screen and (min-width: 640px) {

  .about {
    margin: 200px 0 100px 0;
  }
  /* form input, textarea {
    width: 300px;
  } */
}
@media screen and (min-width: 1080px) {
  /* .main {
    padding: 0 100px;
  } */

  .landing .text {
    font-size: 1.5em;
  }

  
}

@media screen and (min-width: 1500px) {
  /* .main {
    padding: 0 200px;
  } */

  .landing .text {
    font-size: 1.9em;
  }
  
}
