@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --background-primary: #1c0a00;
  --background-secondary: #361500;
  --text-primary: #cc9544;
  --text-secondary: #603601;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Josefin Sans', sans-serif;
}

form input, textarea {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  color: var(--text-primary);
  width: 200px;
}

textarea {
  height: 100px; 
}



.main {
  padding: 20px;
}

.text {
  font-size: 1.9em;
}

.landing .text {
  font-size: 1.5em;
}

.heading {
  font-size: 1.5em;
  font-family: 'Pacifico', cursive;
}

.services {
  margin: 200px 0 100px 0;
}
.about {
  margin: 100px 0 0 0;
}
.testimonials {
  margin: 100px 0 100px 0;
}

.order-btn-icon {
  transform: translateX(-50px);
}

.order-btn:hover .order-btn-icon {
  transform: translateX(0);
}

.order .text,.order label {
  font-size: 1.2em;
  transition: 0.5s ease;
}

.order-details-form {
  margin: 100px 0;
}

.order-details {
  margin-top: 100px;
}

.dashboard .order-details, 
.dashboard .client-details, 
.dashboard .order-item {
  margin: 16px 0;
}

.dashboard .order {
  background: var(--background-secondary);
  border-radius: 16px;
}

.heading-secondary {
  font-size: 1.2em;
}
@media screen and (min-width: 640px) {
  .landing .text {
    font-size: 1.5em;
  }
  .landing {
    margin: 100px 0 100px 0;
  }

  .heading {
    font-size: 1.9em;
    margin: 50px;
  }
  .about {
    margin: 100px 0 0 0;
  }
  form input, textarea {
    width: 300px;
  }
}
@media screen and (min-width: 1080px) {
  .main {
    padding: 0 100px;
  }

  .landing .text {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1500px) {
  .main {
    padding: 0 200px;
  }

  .landing .text {
    font-size: 1.9em;
  }
}
